<ng-container *ngIf="orders.length>0 ; else noOrders">
  <div [id]="order.orderId" class="root" *ngFor="let order of orders">

    <div class="row" *ngFor="let product of order.order">

      <div class="row">
        <div class="col-md-3 col-lg-3"><img class="img-fluid"
                                            [src]="this.baseUrl + 'api/product/image/' + product.productId" alt="">
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="row">
            <small>Cost by item:</small>
          </div>
          <div class="row">
            <small>Quantity:</small>
          </div>
          <div class="row">
            <small>Total cost:</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="row">
            <small>{{product.cost}}</small>
          </div>
          <div class="row">
            <small>{{product.quantity}}</small>
          </div>
          <div class="row">
            <small>{{product.cost * product.quantity}}</small>
          </div>
        </div>
        <br>

      </div>
    </div>
    <div>
      <small>Total cost is {{order.totalCost}}</small>
    </div>
    <div>
      <small>First name is {{order.firstName}}</small>
    </div>
    <div>
      <small>Last name is {{order.lastName}}</small>
    </div>
    <div>
      <small>Mobile number is {{order.mobileNumber}}</small>
    </div>
    <div>
      <button (click)="completeOrder(order.orderId)">Complete order</button>
    </div>
  </div>

</ng-container>
<ng-template #noOrders>
  <div class="col-md-12"><h2>No orders yet</h2></div>
</ng-template>


