<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="product">
        <img class="rounded mx-auto d-block" id="item-display"
             src={{this.imgPath}}
             alt=""/>

      </div>

    </div>

    <div class="col-md-7">
      <div class="product-title">{{product.title}}</div>
      <div class="product-price">$ {{product.cost}}</div>
      <hr>
      <div class="btn-group cart">

        <ng-container *ngIf="!this.cart.isInCart(product.id) ;else noInCart">
          <a class="to-cart btn btn-primary btn-block " (click)="addToCart(product)"><i class="fa fa-shopping-cart"
                                                                                        aria-hidden="true"></i> Add to
            cart</a>
        </ng-container>

        <ng-template #noInCart>

          <a class="to-cart btn btn-success btn-block disabled"><i class="fa fa-check-circle" aria-hidden="true"></i> In
            cart</a>
        </ng-template>

      </div>
      <div class="btn-group wishlist">

        <ng-container *ngIf="this.isInWish; else noInWish">
          <a class="to-cart btn btn-danger btn-block disabled"><i class="fa fa-check-circle" aria-hidden="true"></i> In
            wish</a>
        </ng-container>
        <ng-template #noInWish>
          <button type="button" class="btn btn-danger" (click)="addToWish(product.id)">
            Add to wishlist
          </button>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <div class="col-md-12 product-info">
          <section class="container product-info">
            {{product.description}}
          </section>
        </div>
        <hr>


      </div>
    </div>
  </div>
</div>

