.card{
  margin-top: 0.7rem;
}
.price {
  font-size: 18px
}
.to-cart  {
  font-size: 14px;
}

.like {
  color: #757575;
  font-weight: bold;
  background-color: #EEEEEE;
  padding: 7px;
  border-radius: 50%;
  position: absolute;
}

.like-checked {
  color: #E53935
}

.like:hover {
  color: #E53935;
  cursor: pointer
}
img {
  text-align: center;
  height: 200px;
  width: auto;
  background-color: #f8f8f9;
}
.product-img{
  text-align: center;
}
.text-center{
  line-height: 100px;

}
.text-center span{
  font-size: 18px;
}


@media (max-width: 1000px) {
  .card{
    margin-top: 0.5rem;
    max-width: 200px;
  }
  .price {
    font-size: 14px
  }

  .to-cart  {
    font-size: 14px;
  }

  .like {
    color: #757575;
    font-weight: bold;
    background-color: #EEEEEE;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
  }

  img {
    text-align: center;
    height: 100px;
    width: auto;
    background-color: #f8f8f9;
  }

  .text-center{
    line-height: 50px;

  }
  .text-center span{
    font-size: 14px;
  }
}
