p {
  font-size: 1.5rem;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}


a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}


.btn:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}


.btn:hover {
  opacity: 0.8;
}

input {
  margin-bottom: 0;
}

.validation {
  color: red;
}
